.echarts_one_row{
	height: 960px;
}
.materal-search{
	height:200px;
	width: 100%;

}
.materal-data{
	height:550px;
	width: 95%;
	padding-left:2% ;
	padding-right:2% ;
}

.materal-search .form-group{
	text-align: right;
}

.materal-search .search-twe-row{
	margin-top: 20px;
}

.materal-data .materal-data-table{
	height:760px;
}
.materal-data .materal-data-chars{
	height:300px;
}
.materal-data-chars #materal-line-chars{
	height: 300px;
	width: 100%;
}
.materal-search .form-group input{
	width: 70%;
}
.materal-search .form-group .select{
	vertical-align:middle;
	float: right;
	width: 70%;
}
.materal-search .form-group .label{
	margin-top:10px ;
}
.materal-search .form-group label{
	text-align: left;
	width: 25%;
}